.header-bottomLine-right {
  left: 59%;
  animation-name: lineToRight;
  animation-duration: 0.3s;
}

.header-bottomLine-left {
  left: 15%;
  animation-name: lineToLeft;
  animation-duration: 0.3s;
}

@keyframes lineToRight {
  from {
    left: 15%;
  }
  to {
    left: 59%;
  }
}

@keyframes lineToLeft {
  from {
    left: 59%;
  }
  to {
    left: 15%;
  }
}
