.gpsMode {
  position: relative;
  right: -50px;
  animation-name: circleToLeft;
  animation-duration: 0.3s;
}

.listMode {
  position: relative;
  right: 50px;
  animation-name: circleToRight;
  animation-duration: 0.3s;
}

@keyframes circleToRight {
  from {
    right: -50px;
  }

  to {
    right: 50px;
  }
}

@keyframes circleToLeft {
  from {
    right: 50px;
  }

  to {
    right: -50px;
  }
}

.onModeText {
  color: white;
  animation-name: txtTo;
  animation-duration: 1;
}

.offModeText {
  color: black;
  animation-duration: 1;
}

@keyframes txtToOn {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

@keyframes txtToOff {
  from {
    color: White;
  }

  to {
    color: Black;
  }
}
